*
!/.config/
!/.config/nvim/
!/.config/nvim/init.vim
!/.vim/
!/.vim/coc-settings.json
!/.zsh/
!/.zsh/**
!/.gitconfig
!/.gitignore
!/.p10k.zsh
!/.tmux.conf
!/.vimrc
!/.zlogin
!/.zlogout
!/.zpreztorc
!/.zprofile
!/.zshenv
!/.zshrc
